<table>
  <tr>
    <th>Employee Name</th>
    <th>Shift Date</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Break Length (minutes)</th>
    <th>Hours worked</th>
    <th>Shift Cost</th>
  </tr>
  <%= render @shifts %>
</table>

<%= form_with url: login_path, local: true do |f| %>
<%= f.text_field :date_of_tour, data:{ provide:'datepicker' } %>

	<div>
		<%= f.submit "Log In" %>
	</div>
	<% end %>
